.bodyclass {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.modal {
  background-color: #2B2B2B;
  color: white;
  width: 414px;
  max-height: 70vh;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 5vh auto;
}

.modal-header {
 background-color: #24409d; /* 그라데이션 효과 추가 */
  color: white;
  padding: 12px;
  font-size: 1.5em; 
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 10px; /* 상단 왼쪽 모서리 둥글게 처리 */
  border-top-right-radius: 10px; /* 상단 오른쪽 모서리 둥글게 처리 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 상단에 그림자 효과 추가 */
}

.modal-section {
  padding: 20px;
  border-bottom: 1px solid #555;
}

.modal-section:last-child {
  border-bottom: none;
}

.modal-section h2 {
  color: #9ab;
  margin-bottom: 10px;
}

.modal-content {
  display: flex;
  justify-content: space-between; /* 요소들을 양쪽 끝으로 정렬 */
  align-items: center; /* 요소들을 세로 중앙에 정렬 */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #333;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.modal-content:hover {
  background-color: #444;
}

.date-time {
  flex-grow: 1;
  margin-right: 10px; 
}

.action {
  white-space: nowrap;
  color: #4E5DFF; /* 변경: 기본 색상 */
  text-align: right; /* 텍스트를 오른쪽 정렬 */
  padding-left: 10px;
  padding-right: 10px;
}

.unavailable .action {
  color: #888; /* 변경: 예약불가 텍스트 색상 */
  cursor: default; /* 변경: 마우스 오버시 커서 변경 없음 */
}

.available .action:hover {
  text-decoration: underline; /* 호버 효과 추가 */
}

.modal-footer {
  padding: 20px;
  background-color: #333;
  text-align: center;
}

.close-button {
  background-color: #1E90FF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.close-button:hover {
  background-color: #1565C0;
}

@media (max-width: 768px) {
  .modal {
    width: 90%;
    max-height: 80vh;
  }
}

@media (max-width: 480px) {
  .modal {
    width: 95%;
    max-height: 70vh;
  }

  .modal-content {
    align-items: center; /* 중앙 정렬로 변경 */
  }

  .action {
    text-align: center; /* 중앙 정렬로 변경 */
    margin-top: 5px; /* 상단 여백 추가 */
  }
}
